body {
  background-color:#F7F7F7;
}

img {
  max-width:400px;
  max-height:400px
}

.kid {
  text-align: center;
}

.kid img {
  max-height:300px;
  margin:0 auto;
}

#HeadingBar {
  background-color: #0065BF;
  padding:2px 0;
}

#heading {
  width:900px;
  margin:5px auto;
}

#heading h1 {
  color:#fff;
  margin:0px;
}

#countryContainer {
  display:flex;
  max-width:900px;
  margin:15px auto;
}


#countryContainer .main {
  width:70%;
}

.Gallery {
  display:flex;
}

#countryContainer .kid {
  width:30%;
}
#countryContainer .kid img {
  max-width:100%;
}

#keyPlayers img {
  max-width:150px;
}

#keyPlayers {
  display: flex;
  flex-wrap: wrap;
}

.playerCard {
  margin:0 15px 25px;
}

.playerCard h3 {
  color:#111;
  padding:3px;
  margin:0px;
  border: 2px solid #222;
  border-radius:7px;
}

.storyPage {
  display:flex;
  border-style:solid;
  background-image: url(https://wallpaperaccess.com/full/3872532.jpg);
  background-size: cover;
  border-style: double;
  font-family: 'Charmonman', cursive;
  font-size: 15px;
  height: 560px;
  padding: 20px;
}

.storyLeft {
  width: 50%;
  margin: 5px;
}

.storyRight img {
  border: solid 2px
}

.storyRight {
  width: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
}

.storyPage h3 {
  margin-top:0px;
}

#characterComponent {
  display: flex;
  flex-wrap: wrap;
}



.score-section {
  max-width:420px;
}

button {
  background-color: #0065BF;
  padding:4px;
  border: none;
  font-size:16px;
  color:#ffffff;
  margin:25px;
  width: 140px;
}

button:hover {
  background-color: #2b76b8;
}

#buttonBar {
  display:flex;
  width:100%;
}
