img {
  max-width:400px;
  max-height:400px
}

body {
  max-width:900px;
  margin:15px auto;
}


.storyPage {
  display:flex;
  border-style:solid;
  background-image: url(https://wallpaperaccess.com/full/3872532.jpg);
  background-size: cover;
  border-style: double;
  font-family: 'Charmonman', cursive;
  font-size: 15px;
  height: 560px;
  padding: 20px;
}

.storyLeft {
  width: 50%;
  margin: 5px;
}

.storyRight img {
  border: solid 2px
}

.storyRight {
  width: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
}

.storyPage h3 {
  margin-top:0px;
}

#characterComponent {
  display: flex;
  flex-wrap: wrap;
}

#keyPlayers img {
  max-width:200px;
  margin:0 10px;
}

#keyPlayers {
  display: flex;
}

.score-section {
  max-width:420px;
}

button {
  background-color: #0065BF;
  padding:4px;
  border: none;
  font-size:16px;
  color:#ffffff;
  margin:25px;
  width: 140px;
}

button:hover {
  background-color: #2b76b8;
}

#buttonBar {
  display:flex;
  width:100%;
}
